*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* General Styles *********/

body

{
    font-family: Helvetica;
    background-color: #F7F7F7 ;
}

 

/*******Header********/

#navigation

{
    background-color: #F7F7F7;
    display: grid;
    grid-template-columns: 300px 1fr 300px;
    
}




header a

{
    color: black;
    text-decoration: none;

    
    
}


header li
{
    display: inline-block;
    padding: 42px 16px;
    font-size: 1.1rem ;
    font-weight: lighter;
}

header img 

    {
        margin: 22px 0 0 25px;
    }




/*********** Hero-Section **********/

#hero-section

    {
        height:850px;
        background-image: url(../Img/hero-section2.jpg);
        background-position: center center;
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr 350px ;
        

        
        

    }

  h1
  
    {
        font-size: 4.1rem;
        font-weight: lighter;
        margin-bottom: 18px;
    }

#hero-section p 

    {
        font-size: 1.2rem;
        margin-bottom: 48px;
        font-weight: lighter;
        
    }

#hero-section div

    {
        margin: 175px 75px ;
    }
    

/*********** Experience-Section **********/

#experience-section div

    {
        margin: 120px 250px 75px;
    }

#experience-section h2

    {
        font-size: ;
    }


#cards-section

  {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      
  }