
.btn
{
    display: inline-block;
    text-transform: capitalize;
    padding: 10px 30px;
    text-align: center;
    font-weight: lighter;
    font-size: 0.9rem;

}


.btn-primary 

{
    background-color: black;
    text-decoration: none;
    color: white; 
}

.btn-secondary 

{
    background-color:white; 
    text-decoration: none;
    color: black;
}
 
.grid 
    {
        display: grid;
    }

.grid-col-2

    {
        grid-template-columns: 1fr 1fr;

    }

.grid-col-3

{
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-x-center

    {
        justify-self: center;
    }

.grid-y-center

    {
        align-items: center;
    }



.text-center

    {
        text-align: center;
    }

.section-headers h2

    {
        font-size: 2rem;
        margin-bottom:15px;
        font-weight: normal;

    }

.section-headers p

    {
        font-size: 1.1rem;
        margin-bottom:24px;
        font-weight: normal;
        

    }